* {
    font-family: 'Roboto', sans-serif;
}


input {
   padding: 5px;
   outline:none;
   outline-offset: 0;
}

.table-info td, th {
    border: 1px solid black !important;
    padding: 5px;
}

.static {
    height: 500px;
   width: 500px;
}