.cart__page {
    padding: 15px 75px 0px 75px;
}

.product__content {
    margin-bottom: 50px;
    padding-top: 25px;
}

.product-author {
    color: grey;
}

.cart__order {
	background-color: rgb(123, 208, 219); 	
	padding: 20px;	
	position: fixed;
	bottom: 30px;
	right: 15px;
}