* {
   font-family: 'Roboto', sans-serif;
}

.carousel-item {
    height: 400px;

}
.main__category {
    left:0;
    width: 30%;
}
.main__products {
    width: 100%;
    background-color: pink;
}

.products__cards {
	margin-left: 50px;
}

.container__products {
	margin: 50px;
}

.card__item {
	background-color: black;
}