* {
   font-family: 'Roboto', sans-serif;
}

.carousel-item {
    height: 400px;

}
.main__category {
    left:0;
    width: 30%;
}
.main__products {
    width: 100%;
    background-color: pink;
}

.products__cards {
	margin-left: 50px;
}

.container__products {
	margin: 75px 0px 0px 75px;
}

.card-shop {
	padding-top: 50px;
	padding-right: 15px;
	margin: 0px 75px 40px 0px;
	background-color: white;
}

.content__author {
	color: black;
}