.ticket-status {
    font-size: 18px;
}
.table-ticket {
    margin: 5px 100px 20px 40px;
}
.ticket-check {
    margin-bottom: 5px;
}

.user-request {
	background-color: rgb(124, 139, 141); 	
	padding: 20px;	
	position: fixed;
	bottom: 30px;
	right: 15px;
}