input {outline:none;}
input:active  {outline:none;}

 

*,:after,:before {
    box-sizing:border-box
}

.modal {
  display: none;
  width: 100%;
  background-color: rgba(26, 43, 43, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal.show {
    display: flex;
}

.login_wrap {
    width: 100%;
    margin: auto;
    max-width: 550px;
    min-height: 930px;
    position: relative;
}

.login_tab {
    width: 91%;
    height: 62%;
    position: absolute;
    margin: 3rem 0;
    padding: 3rem 4rem;
    background: rgb(123, 208, 219);
    border-radius: 15px;
}

.login_tab .sign-in_tab,
.login_tab .sign-up_tab {
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0 linear;
}

.login_tab .sign-in_tab {
    top: 60px;
}

.login_tab .sign_in,
.login_tab .sign_up,
.login_form .group .check{
    display: none;
}

.login_tab .tab,
.login_form .group .label,
.login_form .group .button {
    text-transform: uppercase;

    color: #000;
}

.login_tab .tab {
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login_tab .sign_in:checked + .tab,
.login_tab .sign_up:checked + .tab {
    color: #fff;
    border-color: #fff;
}

.login_form {
    min-height: 345px;
    position: relative;
}

.login_form .group {
    margin-bottom: 15px;
}

.login_form .group .label,
.login_form .group .input,
.login_form .group .button {
    width: 100%;
    color: #000;
    display: block;
}

.login_form .group .input,
.login_form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
}

.login_form .group .label {
    padding: 0 1rem;
    color: #fff;
}

.login_form .group .button {
    background: #198754;
    cursor: pointer;
    color: #fff;
    text-transform: none;
}

.login_form .group .check:checked + label {
    color: #fff;
}

.login_form .group .check:checked + label .icon {
    background: #000;
}

.login_tab .sign_in:checked + .tab + .sign_up + .tab + .login_form .sign-up_tab {
    transform: none;
}

.login_tab .sign_up:checked + .tab + .login_form .sign-in_tab {
    transform: none;
}
