* {
    font-family: 'Roboto', sans-serif;
}

form {
   background-color: #04126B;
   padding: 25px 50px 25px 30px;
   color: white;
}

input {
   padding: 5px;
   outline:none;
   outline-offset: 0;
}

a {
   color:#00cccc !important;
}