* {
   font-family: 'Roboto', sans-serif;
}

.main__page {
	margin-top: 15px ;
	margin-left: 5px;
	margin-right: 15px;
}

.info-img {
	margin-left: 5px;
}

.content-desription {
	margin-top: 15px;
}
.content-order {
	margin-top: 30px;
}

.content-desription {
	color: grey;
}

.cart__order {
	background-color: rgb(123, 208, 219); 	
	padding: 20px;	
	position: fixed;
	bottom: 30px;
	right: 15px;
}